@inherits WalletCurrencyDetailsPageBase
@page "/WalletId/currencies/{CurrencyId}"

<div>
  <div>Currency Tab Component</div>
  @CurrencyId
  @*<MintingUi.Client.Features.Erc1155.Currencies.Components.CurrencyDetails.CurrencyDetails CurrencyId=@CurrencyId />*@
</div>