@inherits WalletCurrencyDetailsPageBase
@page "/WalletId/currencies/{CurrencyId}"

<div>
  Currency Details
  @CurrencyId
  <MintingUi.Client.Features.Erc1155.Currencies.Components.CurrencyDetails.CurrencyDetails CurrencyId=@CurrencyId />
</div>

<h3>Tab Content</h3>