@namespace MintingUi.Client.Features.Erc1155.Die.Components
@inherits DieItemBase

<div class="card text-center">
  <img src=@Die.Image.AbsoluteUri card="card-img-top" alt="@Die.Name Image" width="250">
  <div class="card-body">
    <h5 class="card-title"><a class="card-link" href="@DieDetailsUrl">@Die.Name</a></h5>
    <div class="currency-details">
      @Die.CirculatingSupply Tokens
    </div>
  </div>
</div>

