@page "/explorer/dies"
@inherits DiesPageBase
@using MintingUi.Client.Features.Erc1155.Die.Components

<div class="tab-content">
  <div class="tab-pane  active" role="tabpanel" aria-labelledby="dies tab">
    <DieList Dies=@Dies></DieList>
  </div>
</div>