@inherits CurrencyDetailsBase
<div class="card text-center">
  <img src=@Currency.ImageUrl card="card-img-top" alt="@Currency.Name Image" width="250">
  <div class="card-body">
    <h5 class="card-title">@Currency.Name</h5>
    <div class="currency-details">
      <b>Currency ID: </b> @CurrencyId
      <b>Currency Description</b>@Currency.Description
      <b>Total Dies</b> @Dies.Count
      <b>Total Minted Tokens</b> @TotalTokens
      <b>Total Value</b> @TotalValue
    </div>
  </div>
</div>