@inherits TransactionDetailsPageBase
@page "/explorer/transactions/{TransactionHash}"

<div>
  <h3><a href="/explorer/transactions"> Back To Transactions</a></h3>
  <MintingUi.Client.Features.Erc1155.Transactions.Components.TransactionDetail TransactionHash=@TransactionHash />
</div>