@namespace MintingUi.Client.Features.Erc1155.Token.Components
@inherits TokenListBase


<div class="card-group">
  @foreach (var Token in Tokens)
  {
    <TokenItem TokenId="@Token.Guid"></TokenItem>
  }
</div>
