@namespace MintingUi.Client.Features.Erc1155.Currencies.Components
@inherits CurrencyListBase
<div class="card-group">
  @foreach (var currency in Currencies)
  {
    <CurrencyItem CurrencyId="@currency.Guid"></CurrencyItem>
  }
</div>
